.App {
  display: flex;
  text-align: center;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  max-width: 25vw;
  position: fixed;
}

#search{
  width: 90%;
  height: 5%;
  margin-top: 1rem; 
}

.venueList {
    padding: 1rem;
  }

.listItems {
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-style: dotted;
  border-width: 1px;
}


